<app-slider [nombre]="'Peliculas'" [size]="'small'">

</app-slider>

<div class="center">
    <section id="content">

        <div id="favorita" *ngIf="this.favorita">
            <h2 class="subheader">
                Pelicula favorita
            </h2>
            <h4> {{this.favorita.titulo | uppercase }} </h4>
            <h4> {{this.favorita.year | espar }} </h4>
        </div>

        <h1 class="subheader">Peliculas</h1>
        <hr>

        <h2>Mostrar 1 pelicula</h2>
        {{peliculas[0].titulo}}

        <hr>

        <h2>Numero de peliculas</h2>

        <div *ngIf="peliculas.length <= 3">
            <h4>Hay pocas peliculas</h4>
        </div>

        <div *ngIf="peliculas.length > 3">
            <h4>Hay muchas peliculas</h4>
        </div>
        {{peliculas.length}}

        <hr>

        <h2 class="subheader">Listado de Peliculas</h2>

        <div *ngIf="peliculas">

            <div *ngFor="let pelicula of peliculas; let i = index;">
                <app-pelicula 
                [pelicula]="pelicula" (MarcarFavorita)="mostrarFavorita($event)">

                </app-pelicula>
            </div>



            <!--AÑADIR ARTICULOS VIA JS-->

        </div>

    </section>

    <app-sidebar></app-sidebar>
</div>